
.title {
  text-align: center;
  font-size: 65px;
  text-decoration: none;

}

.nav {
  text-align: center;
  padding-bottom: 18px;
}

#songName, #artistName {
  font-weight: bold;
  color: #8ACB8F;
}


.details {
  text-align: center;
  font-size:18px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}


.sButtons {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.coverPhoto {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.archiveHeading {
  font-size: 22px;
}

.description {
  font-size:15px;
  text-align: center;
}

.technologies {
  font-size:12px;
  text-align: center;
  color: #2F5178;
}

/* Responsive layout*/
@media screen and (max-width: 580px) {
    .details, .archiveItems {
      font-size: 13px;
      padding-bottom: 3px;
      }

      .description {
        font-size: 11px;
      }

      .technologies {
        font-size:9px;
        color: #2F5178;
      }
  }
